<% include ../partials/header %>

<section class="data">
    <table class="main_options">
        <tr class="hidden">
            <td class="jumbotron" >
                <h3>New Transaction</h3>
                <p>This report allow you to view all transaction history.<br />
                    <a class="btn btn-primary btn-sm" href="/report/transactions" role="button">All Transactions</a>
                </p>
            </td>
            <td class="jumbotron">
                <h3>New Order</h3>
                <p>This report lets you view current products being offered.<br />
                    <a class="btn btn-primary btn-sm" href="" role="button">All Products</a>
                </p>
            </td>
        </tr>
        <tr>
            <td class="jumbotron">
                <h3>New Product</h3>
                <p>Opens a form to add a new product.<br />
                    <a class="btn btn-primary btn-sm" href="/dataEntry/new_product" role="button">Add New Product</a>
                </p>
            </td>
            <td class="jumbotron hidden">
                <h3>Edit Transaction</h3>
                <p>This report lets you view current products being offered.<br />
                    <a class="btn btn-primary btn-sm" href="" role="button">All Orders</a>
                </p>
            </td>
        </tr>
        <tr class="hidden">
            <td class="jumbotron">
                <h3>Edit Orders</h3>
                <p>This report allow you to view all transaction history.<br />
                    <a class="btn btn-primary btn-sm" href="" role="button">Pending Orders</a>
                </p>
            </td>
            <td class="jumbotron">
                <h3>Edit Product</h3>
                <p>Opens a form for editing a specific product.<br />
                    <a class="btn btn-primary btn-sm" href="" role="button">Closed Orders</a>
                </p>
            </td>
        </tr>
    </table>

</section>

<% include ../partials/footer %>