<% include ../partials/header %>

<section class="report">
    <table class="main_options">
        <tr>
            <td class="jumbotron">
                <h3>View Transactions</h3>
                <p>This report allow you to view all transaction history.<br />
                    <a class="btn btn-primary btn-sm" href="/report/transactions" role="button">All Transactions</a>
                </p>
            </td>
            <td class="jumbotron">
                <h3>View Products</h3>
                <p>This report lets you view current products being offered.<br />
                    <a class="btn btn-primary btn-sm" href="/report/products" role="button">All Products</a>
                </p>
            </td>

            <td class="jumbotron hidden">
                <h3>View Customers</h3>
                <p>This report allow you to view all transaction history.<br />
                    <a class="btn btn-primary btn-sm" href="/report/transactions" role="button">All Customers</a>
                </p>
            </td>
        </tr>
        <tr class="hidden">
            <td class="jumbotron">
                <h3>View Orders</h3>
                <p>This report lets you view current products being offered.<br />
                    <a class="btn btn-primary btn-sm" href="/report/products" role="button">All Orders</a>
                </p>
            </td>
            <td class="jumbotron">
                <h3>Pending Orders</h3>
                <p>This report allow you to view all transaction history.<br />
                    <a class="btn btn-primary btn-sm" href="/report/transactions" role="button">Pending Orders</a>
                </p>
            </td>
            <td class="jumbotron">
                <h3>Closed Orders</h3>
                <p>This report allow you to view all transaction history.<br />
                    <a class="btn btn-primary btn-sm" href="/report/transactions" role="button">Closed Orders</a>
                </p>
            </td>
        </tr>
        <tr class="hidden">
            <td class="jumbotron">
                <h3>Products On Order</h3>
                <p>This report lets you view current products being offered.<br />
                    <a class="btn btn-primary btn-sm" href="/report/products" role="button">Products on Order</a>
                </p>
            </td>
            <td class="jumbotron">
                <h3>Top and Bottom 10 Products</h3>
                <p>This report allow you to view all transaction history.<br />
                    <a class="btn btn-primary btn-sm" href="/report/transactions" role="button">Top and Bottom 10 Products</a>
                </p>
            </td>
            <td class="jumbotron">
                <h3>Earnings and Expenses</h3>
                <p>This report allow you to view all transaction history.<br />
                    <a class="btn btn-primary btn-sm" href="/report/transactions" role="button">Earnings and Expenses</a>
                </p>
            </td>
        </tr>
    </table>

</section>

<% include ../partials/footer %>