<% include partials/header %>

<section class="about">

    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Why this website?</h3>
            <p>The purpose of this web application is to allow users to maintain a small business by keeping track of business related transactions.
                The user can view reports on pending orders, transactions etc., as well as enter data related to business transactions.
                Users can have different levels of access, set by a user who has administrator privileges.
                This allows the administrators to control who can enter data, who can add other users and who can view data.
            </p>
            <ul>
                <h4>There are 4 levels of user access:</h4>
                <li>Level 0: User has an unauthorized account and must have access level updated by administrator.</li>
                <li>Level 1: User has basic access and can view reports and this about page.</li>
                <li>Level 2: User can do the above, and also fill out forms and enter data.</li>
                <li>Level 3: User can do all the above and also view, delete and modify access of other users.</li>
            </ul>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            <h3>A little about us:</h3>
            <p>
                This web application was developed for use by our own small business.
                Our company is based in California and we provide local-made products for local customers.
                We are currently a small family-owned business and this application satisfies are simple needs.
            </p>
        </div>
    </div>
    </p>

    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Developer's Contact Info:</h3>
            <p>
                Name: Carlos Downie<br />
                Email: CDogg@NoneOfYourBusiness.com<br />
                Phone: (123) 009-0210;
            </p>
        </div>
    </div>

</section>

<% include partials/footer %>